<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
  package="com.reactnativejpushromwrapper">

  <!--huawei HMS-->
  <uses-sdk tools:overrideLibrary="
     cn.jpush.android.thirdpush.fcm
    ,cn.jpush.android.thirdpush.huawei
    ,cn.jpush.android.thirdpush.meizu
    ,cn.jpush.android.thirdpush.oppo
    ,cn.jpush.android.thirdpush.vivo
    ,cn.jpush.android.thirdpush.xiaomi
    ,com.google.firebase.firebase_core
    ,com.google.firebase.messaging
    ,com.google.firebase.analytics.connector.impl
    ,com.google.firebase.measurement
    ,com.google.android.gms.measurement.api
    ,com.google.firebase.measurement_impl
    ,com.google.firebase.iid
    ,com.google.firebase
    ,com.google.firebase.iid.internal
    ,com.google.android.gms.base
    ,com.google.android.gms.tasks
    ,com.google.firebase.analytics.connector
    ,com.google.android.gms.stats
    ,com.google.android.gms.ads_identifier
    ,com.google.android.gms.common
    ,com.google.android.gms.measurement_base
    ,com.huawei.android.hms.openid
    ,com.huawei.agconnect.core
    ,com.huawei.hmf.tasks
    ,com.huawei.hms.framework.network.grs
    ,com.huawei.hms.framework.common
    ,com.huawei.android.hms.base
    ,com.huawei.android.hms.push
    ,android.support.mediacompat
    ,android.support.fragment
    ,android.support.coreutils
    ,android.support.coreui
    ,android.support.compat
    ,android.arch.lifecycle" />
  <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />


</manifest>
